/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import 'fonts.css';

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

*, *:after, *:after {
    box-sizing: inherit;
}

::-moz-selection {
    background: Blanchedalmond;
    text-shadow: none;
}

::selection {
    background: Blanchedalmond;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

ul {
    list-style: none;
}

li, a {
    text-decoration: none;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
color 1 : #57bbd7,
color 2 : #06a2ce,
color 3 : #014e64,
color 4 : #012935
*/

body {
    font-family: 'Colfax Regular', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

/* arrow */
.arrow {
    width: 100%;
    background: transparent url("../img/arrow.png") no-repeat scroll center center;
    height: 30px;
    bottom: 20px;
    position: fixed;
    z-index: 1;
}

/* page 1 starts */

header {
    width: 100%;
    top: 0;
    background: #06a2ce;
    position: absolute;
}

.name-left {
    display: inline-block;
    margin-top: 0px;
    float: left;
}

.nav-right {
    float: right;
    text-transform: uppercase;
    margin-top: 15px;
}

.nav-right li {
    display: inline-block;
}

.nav-right li a {
    color: #fff;
    padding: 15px;
}

.nav-right li.active a {
    color: #000;
}

.nav-right li a:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #012935;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#section1 {
    background-color: #012935;
}

.wandering {
    position: relative;
    text-align: center;
    font-weight: 300;
}
.gif-walking {
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.gif-walking img {
    text-align: center;
    margin: 0 auto;
}

.quote {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.quote h2 {
    font-weight: 300;
    font-size: 16px;
}

.quote h3 {
    text-transform: uppercase;
    margin-top: -5px;
    text-align: center;
    font-size: 14px;
}

/* page 1 ends */

/* page 2 starts */

#section2 {
    background-color: #012935;
}

.skill-panels {
    text-align: center;
}

.top-part {
    position: relative;
}

.photoshop {
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
}

.content {
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
    height: 100%;
    width: 800px;
}

.content > * {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content:hover {
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    background: rgba(197, 206, 227, 0.3);
}

.panel-name {
    font-size: 30px;
    padding-bottom: 50px;
    color: #06a2ce;
    text-shadow: 2px 1px 2px #000;
    opacity: 0;
}

.visit {
    margin-top: 30px;
    opacity: 0;
}

.content:hover .visit {
    -webkit-animation: 0.3s cubic-bezier(0.2, 0.3, 0.25, 0.9) normal forwards 1 slideUp;
    animation: 0.3s cubic-bezier(0.2, 0.3, 0.25, 0.9) normal forwards 1 slideUp;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

@-webkit-keyframes slideUp {
    0% {
        margin-top: 42px;
    }
    100% {
        opacity: 1;
        margin-top: 30px;
    }
}

@keyframes slideUp {
    0% {
        margin-top: 42px;
    }
    100% {
        opacity: 1;
        margin-top: 30px;
    }
}

.content:hover .panel-name {
    -webkit-animation: 0.3s cubic-bezier(0.2, 0.3, 0.25, 0.9) 1.2s normal forwards 1 slideDown;
    animation: 0.3s cubic-bezier(0.2, 0.3, 0.25, 0.9) 1.2s normal forwards 1 slideDown;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

@-webkit-keyframes slideDown {
    0% {
        padding-bottom: 62px;
    }
    100% {
        opacity: 1;
        padding-bottom: 50px;
    }
}
@keyframes slideDown {
    0% {
        padding-bottom: 62px;
    }
    100% {
        opacity: 1;
        padding-bottom: 50px;
    }
}

.visit a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Colfax Bold', sans-serif;
    padding: 8px 30px;
    display: inline-block;
    border: 1px solid #57bbd7;
    letter-spacing: 1px;
    font-size: 22px;
}

.visit:hover {
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    background-color: #fff;
    cursor: pointer;
}

.visit a:hover {
    color: #06a2ce;
    border-color: #fff;
}

/* page 2 ends */

/* page 3 starts */
#section3 {
    background-color: #012935;
}

.square-panels {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: row;
    -webkit-flex: row wrap;
    -ms-flex: row wrap;
    flex: row wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.square-panels p {
    font-size: 30px;
    text-indent: -100000px;
}

.github, .java, .python {
    width: 128px;
    height: 128px;
    padding: 10px;
    border: 2px solid #fff;
    overflow: hidden;
    position: relative;
}

.python {
    background-image: url(../img/python-64-color.png);
    background-repeat: no-repeat;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    background-position: -128px;
}

.java {
    background-image: url(../img/java-64-color.png);
    background-repeat: no-repeat;
    background-position: -128px;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.github {
    background-image: url(../img/github-64-color.png);
    background-repeat: no-repeat;
    background-position: -128px;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.github img, .python img, .java img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
}

.github:hover img, .java:hover img, .python:hover img {
    left: 192px;
}

.github:hover {
    background-position: center;
    background-color: #fff;
}

.java:hover {
    background-position: center;
    background-color: #fff;
}

.python:hover {
    background-position: center;
    background-color: #fff;
}

/* page 3 ends */

/* page 4 starts */
#section4 {
    background: #012935;
}

.email-me {
    width: 75%;
    margin: 0 auto 80px auto;
}

.email-me form {
    width: 100%;
}

.email-me h2 {
    display: block;
    background: #06a2ce;
    line-height: 60px;
    font-weight: normal;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
}

.email-me input {
    outline: none;
    border: none;
    color: #000;
    padding: 10px 20px;
    width: 100%;
    border-bottom: 1px solid rgba(6, 162, 206, .6);
}

#email-content {
    width: 100%;
    color: #000;
    padding: 10px 20px;
    outline: none;
    border: none;
    float: left;
    resize: none;
}

#send-btn {
    font-family: 'Colfax Medium', sans-serif;
    font-size: 30px;
    padding: 0;
    margin: 0;
    line-height: 60px;
    background: #06a2ce;
    border: none;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}

#send-btn:hover {
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    background: #014e64;
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    background: #014e64;
    padding: 15px 20px;
}

.infos-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: row;
    -webkit-flex: row wrap;
    -ms-flex: row wrap;
    flex: row wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: 14px;
}

.place, .sites, .phone {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.place h4, .phone h4, .sites h4 {
    font-size: 22px;
    font-family: 'Colfax Medium', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 22px;
    margin-bottom: 0;
}

.facebook, .youtube {
    line-height: 46px;
    display: inline-block;
    overflow: hidden;
}

.facebook-link, .youtube-link {
    position: relative;
    display: inline-block;
}

.facebook-link, .youtube-link {
    color: #014e64;
}

.facebook-link::before {
    content: attr(data-letters);
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    width: 0%;
    z-index: 2;
    -webkit-transition: all 0.4s 0.3s;
    transition: all 0.4s 0.3s;
}

.facebook-link::after, .youtube-link:after {
    content: '';
    position: absolute;
    height: 20px;
    width: 100%;
    top: 50%;
    margin-top: -10px;
    right: 0;
    background: #fff;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transtion-timing-function: cubic-bezier(0.7,0.3,1);
}

.facebook-link:hover::after, .youtube-link:hover::after {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.facebook-link:hover::before, .youtube-link:hover::before {
    width: 100%;
}

.youtube-link::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 1;
    color: #fff;
    left: 0;
    width: 0%;
    overflow: hidden;
    -webkit-transition: all 0.4s 0.3s;
    transition: all 0.4s 0.3s;
    white-space: nowrap;
}

.copyright {
    color: #898989;
    letter-spacing: 1px;
}

/* http://pastebin.com/73W8BnF6 */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (max-width: 768px) {
    .thumbnail img {
        width: 700px;
    }

    .content {
        width: 700px;
    }
}

@media only screen and (max-width: 600px) {
    .name-left  {
        display: none;
    }

    .nav-right {
        float: left;
        margin: 0 auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: row;
        -webkit-flex: row wrap;
        -ms-flex: row wrap;
        flex: row wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .gif-walking img {
        height: 120px;
    }

    .wandering {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .quote {
        max-width: 300px;
        margin-top: 50px;
    }

    .email-me h2 {
        font-size: 14px;
    }

    #email-content {
        height: 60px;
    }

    #send-btn {
        line-height: 40px;
        font-size: 20px;
    }

    .place h4, .phone h4, .sites h4 {
        font-size: 14px;
    }

    .place p, .phone p, .sites p {
        font-size: 12px;
    }

    .youtube-link {
        display: none;
    }

    .facebook > span {
        display: none;
    }
}

@media only screen and (max-width: 360px) {
    .nav-right {
        width: 100%;
    }

    .#menu {
        display: table;
        width: 100%;
    }

    #menu li {
        display: table-cell;
        font-size: 12px;
    }

    .thumbnail img {
        width: 320px;
    }

    .content {
        width: 320px;
    }

    .content:hover .panel-name {
        display: none;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
